# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# build output
dist/
build/

# caches
.turbo/
coverage/
*.tsbuildinfo
.eslintcache

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

*.xlsx
~$*
cookies.txt